@import "tailwindcss";
*{
  margin: 0;
  transition: 0.4s ease-in-out;
}
/* Fonts */
.noto-serif-bengali {
  font-family: "Noto Serif Bengali", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Styles */
.flex-btwn-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accent-color{
  color: #006747;
}

body{
  background-color: #f5fff6;
}

/* Logo Area */
.logo-text{
  font-size: 24px;
  font-weight: 900;
}

.light-btn{
  padding: 12px 24px ;
  font-size: 16px;
  font-weight: 900;
  color: black;
  background-color: rgba(65, 255, 107, 0.1);
  border-radius: 24px;
}

.light-btn img{
  max-height: 30px;
  width: 100%;
  margin-left: 10px;
}

.copy-count-btn{
  padding: 12px 24px ;
  font-size: 16px;
  font-weight: 900;
  color: white;
  background-color: #00A63E;
  border-radius: 24px;
}

/* Hero Section */
.hero-section{
  color: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  background: linear-gradient(to right, #013223, #006747, #013223);
}

.hero-section img{
  max-width: 95px;
  height: 100%;
  margin: auto;
}

/* Card & History Section */
.card-section{
  display: grid;
  grid-template-columns: auto 400px;
  gap: 24px;
  padding: 24px 24px 50px;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.card{
  background-color: white;
  padding: 32px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}

.card:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.service-icon-container{
  width: 60px;
  padding: 14px;
  border-radius: 16px;
  background-color: aqua;
}

.fa-heart{
  font-size: 24px;
  color: #5C5C5C;
}

.service-title-bn{
  font-size: 20px;
  font-weight: 800;
}

.service-title-en{
  font-size: 18px;
  color: gray;
}

.service-number{
  font-size: 32px;
  font-weight: 700;
}

.category{
  padding: 6px 16px;
  border-radius: 50px;
  background-color: #F2F2F2;
  font-size: 18px;
  color: #5C5C5C;
}

.btn-copy{
  padding: 10px 16px;
  border: 1px solid #D4D6D5;
  border-radius: 8px;
  font-size: 16px;
  color: #5C5C5C;
  width: 100%;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.btn-copy:hover{
  background-color: rgb(230, 230, 230);
}

.btn-call{
  padding: 10px 16px;
  background-color: #00A63E;
  border: 1px solid #00A63E;
  border-radius: 8px;
  font-size: 16px;
  color:white;
  width: 100%;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.btn-call:hover{
  background-color: #018531;
  border: 1px solid #00A63E;
  color:white;
}

/* History Section */
.history-container{
  background-color: white;
  padding: 24px;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  font-size: 24px;
  font-weight: 600;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fa-clock{
  color: #5C5C5C;
  margin-right: 5px;
}

.btn-history-clear{
  padding: 12px 36px;
  border-radius: 150px;
  background-color: #00A63E;
  color: white;
}

.btn-history-clear:hover{
  background-color: #018531;
}

.history-cards{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.history-card{
  padding: 16px;
  border-radius: 8px;
  background-color: #FAFAFA;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
}

